.container {
	display: flex;
	flex-direction: row;
	// justify-content: space-evenly;
	align-items: center;
	color: #fff;
	height: 5.5rem;
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	background-color: #1c1d22;
	.menuIMG {
		background-color: transparent;
		border-style: none;
		outline: none;
		margin: 0;
		padding: 0;
	}
	.logo {
		color: #fff;
		margin-right: 5rem;
		font-size: 24px;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	.link {
		color: #fff;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 2px;
		margin-right: 2rem;
		text-transform: uppercase;
		text-decoration: none;
	}
	#link4 {
		margin-right: 8rem;
	}
}

@media only screen and (min-width: 780px) {
	.hoverUnderlineAnimation {
		position: relative;
	}

	.hoverUnderlineAnimation::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 1px;
		bottom: 0;
		left: 0;
		background-color: #e8985c;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}

	.hoverUnderlineAnimation:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}

.menu_container {
	position: fixed;
	box-sizing: content-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 4;
	background-color: #171717;
	color: #fff;
	@extend .dflex;

	flex-direction: column;
	a {
		display: inline-flex;
		color: #fff;
		text-decoration: none;
		height: 80px;
		overflow: hidden;
		font-size: 3rem;
		margin-bottom: 2.5rem;
		@media (max-width: 768px) {
			font-size: 22px;
		}
		text-transform: uppercase;
		+ a {
			margin-top: 1vw;
		}
	}

	.btn_close {
		@extend .dflex;
		width: 40px;
		height: 40px;
		margin-left: 2rem;
		background-color: #fff;
		color: #171717;
		border-radius: 58px;
		position: absolute;
		left: 0;
		z-index: 5;
		cursor: pointer;
		font-size: 18px;
	}
}

.dflex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdownButtons {
	z-index: 4;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	.container {
		padding-left: 1rem;
	}
	.container2 {
		padding-right: 0.7rem;
	}
	.link {
		display: none;
	}
	.btn_close {
		top: 25px;
		right: 25px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) {
	.container {
		// padding: 0 2rem;
		padding-left: 2rem;
	}
	.container2 {
		padding-right: 1.7rem;
		// padding: 0 1.5rem 0 0;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1024px) {
	.container {
		// padding: 0 2rem;
		padding-left: 2rem;
	}
	.container2 {
		padding-right: 2rem;
		// padding: 0 1.5rem 0 0;
	}
	.link {
		display: block;
	}
	.btn_close {
		top: 33px;
		right: 105px;
	}
}

.container2 {
	color: #fff;
	height: 5.5rem;
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	z-index: 4;
	right: 0;

	.menuIMG {
		background-color: transparent;
		border-style: none;
		outline: none;
		align-self: center;
	}
}
