$main-purp: #8513cb;
$purp-text: #33094d;
$primary: #fff;

.navMain {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 1;
	overflow: hidden;
	margin: 0 5rem 0 5rem;
	.containerFluid {
		max-width: 90%;
	}
	.container {
		width: 90%;
	}
	.innerContainer {
		display: flex;
		flex-direction: row;
		justify-content: center;
		.leftNav {
			display: flex;
			flex-direction: row;
			align-self: center;
			position: fixed;
			left: 1rem;
			.menuButton {
				background-color: transparent;
				border-style: none;
				height: 50px;
				display: flex;
				z-index: 10;
				position: relative;
				align-self: center;
				//cursor: none;
				.menuIMG {
					margin-right: 2rem;
					align-self: center;
				}
			}
			.logo {
				//cursor: none;
				z-index: 10;
				position: relative;
				color: $primary;
				font-size: 24px;
				letter-spacing: 1px;
				font-weight: bold;
			}
		}
		.rightNav {
			right: 4rem;

			display: flex;
			flex-direction: row;
			align-self: center;
			position: fixed;
			.navButton {
				//cursor: none;
				padding: 1rem;
				border-style: none;
				background-color: transparent;
				font-size: calc(16px + 2*(100vw - 320px)/1600);
				letter-spacing: 1px;
				color: $primary;
				&:hover {
					opacity: 0.5;
				}
			}
			.navButtonContact {
				//cursor: none;
				margin-left: 1rem;
				font-size: 1rem;
				font-weight: bold;
				letter-spacing: 1px;
				border-radius: 4rem;
				border: 4px solid white;
				padding: 1rem;
				background-color: orange;
				color: white;
				//box-shadow: 0px 0px 0px rgba(133, 19, 203, 0.5);
			}
		}
	}
}

//Effects

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes pulse {
	0% {
		transform: scale(.9);
	}
	70% {
		transform: scale(1);
		// box-shadow: 0 0 50px rgba(133, 19, 203, 0);
	}
	100% {
		transform: scale(.9);
		// box-shadow: 0 0 0 rgba(133, 19, 203, 0);
	}
}

// Media Queries

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	.navMain {
		padding: 2.5rem;
	}

	.rightNav {
		display: none !important;
	}
	.leftNav {
		padding-left: 1rem;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	.navMain {
		padding: 2.5rem;
	}
	.rightNav {
		display: none !important;
	}
	.leftNav {
		padding-left: 1rem;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) {
	.navMain {
		padding: 5rem 0;
	}

	.rightNav {
		display: flex !important;
		padding-right: 65px;
	}
	.leftNav {
		padding-left: 65px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1024px) {
	.navMain {
		padding: 5rem 0;
	}

	.rightNav {
		display: flex !important;
		padding-right: 65px;
	}
	.leftNav {
		padding-left: 65px;
	}
}
.logoText {
	font-size: 2.2rem;
	font-weight: 700;
}

//Underline ANIMATIONS
.hoverUnderlineAnimation {
	//display: inline-block;
	position: relative;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0 5rem 0 5rem;
}

.hoverUnderlineAnimation::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: $primary;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hoverUnderlineAnimation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
