.wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #fff;
	height: 5.5rem;
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	background-color: #1c1d22;
}

.break {
	border-top: 1px solid #e8985c;
	position: fixed;
	z-index: 3;
	margin-top: 5.5rem;
	width: 100%;
	transform-origin: left;
	transform: scaleX(0);
}
