.mainContainer {
	color: #fff;
	border-bottom: 1px solid #eff;
	border-top: 1px solid #fff;
}
.contentContainer {
	padding: 0 1rem;
	max-width: 1300px;
	width: 90%;
	margin: 4rem auto;
	display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
}
.textContainer {
	max-width: 500px;
	h1 {
		color: orange;
		font-size: 3rem;
		font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
		margin-bottom: 1rem;
	}

	p {
		// max-width: 550px;
		font-size: 1rem;
		line-height: 2.2rem;
	}
}

.infoContainer {
	display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.gridItem {
	display: flex;
	// margin: 0 auto;
	// min-width: 300px;
	padding: 5rem 0rem;
	h1 {
		font-size: 3rem;
	}
	h3 {
		font-size: 1.3rem;
	}
}

.cta {
	// align-self: center;
	h1 {
		// color: orange;
	}
}

.icon {
	margin-left: 2rem;
	align-self: center;
}

#item1 {
	// border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
#item2 {
	border-bottom: 1px solid #fff;
}

#item3 {
	border-bottom: 1px solid #fff;
	// border-right: 1px solid #fff;
}

@media only screen and (min-width: 600px) {
	.infoContainer {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	.cta {
		margin-left: 2rem;
	}

	#item1,
	#item3 {
		border-right: 1px solid #fff;
	}
	#item3 {
		border-bottom: none;
	}
}
@media only screen and (min-width: 869px) {
	.infoContainer {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

@media only screen and (min-width: 978px) {
	.infoContainer {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}
}

@media only screen and (min-width: 1200px) {
	.contentContainer {
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	}
	.infoContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}
