.container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: #eff;
	flex-wrap: nowrap;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;

	// padding: 0 0 0.5rem 0;
}

.iconContainer {
	display: flex;
	padding: 1rem 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	align-items: center;
	font-size: 3rem;
}
.iconContainer > * :hover {
	color: #e8985c;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	.container {
		// margin: 0 1rem;
	}
	// .iconContainer {
	// 	font-size: 3rem;
	// }

	.iconContainer > * {
		margin: 0 1rem;
		font-size: 2rem;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) {
	.iconContainer > * {
		margin: 0 1rem;
		font-size: 3rem;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1024px) {
	.container {
		// margin: 0 3rem;
	}
	// .iconContainer {
	// 	font-size: 6rem;
	// }

	.iconContainer > * {
		margin: 0 2rem;
	}
}
