.wrapper {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2rem;

	.carouselWrapper {
		margin-top: 2rem;
		display: flex;
		justify-content: center;
		.carouselContainer {
			display: flex;

			.left {
				margin-top: 5rem;
				margin-right: 1rem;
			}
			.right {
				margin-top: 5rem;
				margin-left: 1rem;
			}
			.carousel {
				display: flex;
				justify-content: center;
			}
		}
	}
}

@media only screen and (min-width: 320px) {
	.carousel {
		grid-template-columns: 1fr;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		scroll-padding: 1rem;
	}
	.card {
		scroll-snap-align: center;
	}
}
