.container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	position: 'relative';

	.textContainer {
		margin-top: 2rem;
		// margin-bottom: 4rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
	}
}

.container2 {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	background-color: green;
	align-self: center;

	// position: 'relative';
	.textContainer2 {
		background-color: green;

		margin-top: auto;
		// margin-bottom: 4rem;

		// transform: translateY(-50%);
		// z-index: 2;
	}
}

.ourTech {
	overflow: hidden;
	border-top: 1px solid #fff;
	background-color: green;
	width: auto;
}

.text {
	text-transform: uppercase;
	color: #fff;
	font-style: italic;
	font-weight: 900;
}

.text2 {
	text-transform: uppercase;
	color: #fff;
	font-style: italic;
	font-weight: 900;
}

@media only screen and (min-width: 320px) {
	.container {
		height: 50vh;
		flex-direction: column;
	}
	.text {
		font-size: 2rem;
		line-height: 2rem;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 700px) {
	.text {
		font-size: calc(40px + 80*(100vw - 320px)/1600);
		line-height: calc(40px + 80*(100vw - 320px)/1600);
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1024px) {
	.container {
		height: 100vh;
		flex-direction: row;
	}
	.text {
		font-size: calc(85px + 80*(100vw - 320px)/1600);
		line-height: calc(85px + 80*(100vw - 320px)/1600);
	}
	.text2 {
		font-size: calc(85px + 80*(100vw - 320px)/1600);
		line-height: calc(85px + 80*(100vw - 320px)/1600);
	}
}
