.container {
	margin-top: 15rem;
	padding: 0;
}
.missonSection {
	background: rgb(36, 37, 37);
	padding: 10% 5% 10% 5%;
}

.serviceHeader {
	padding-bottom: 1rem;
}
.cta {
	opacity: 80%;
}
.servicesSection {
	color: #fff;
	padding: 10% 20% 5% 20%;
	// margin-bottom: 12rem;
}

.cardBorder {
	.serviceCard {
		padding: 4% 4% 4% 4%;
		width: 100%;
		min-height: 300px;
		position: relative;
		border: 1px solid;
		border-color: grey;
		margin-bottom: 2.75rem;
	}
	&:before {
		content: '';
		position: absolute;
		width: 90%;
		height: 85%;
		border: 1px solid;
		border-top: none;
		border-right: none;
		border-color: grey;
		margin-left: -0.9rem;
		margin-top: 1.3rem;
		max-width: 89%;
	}
	&:hover:before {
		border: 15px solid;
		border-top: none;
		border-right: none;
	}
	& .serviceCard:hover {
		cursor: grab;
	}
	&.cardBorderFirst:hover:before,
	& .serviceCardFirst:hover {
		border-color: purple;
	}
	&.cardBorderSecond:hover:before,
	& .serviceCardSecond:hover {
		border-color: blue;
	}
	&.cardBorderThird:hover:before,
	& .serviceCardThird:hover {
		border-color: green;
	}
	&.cardBorderFourth:hover:before,
	& .serviceCardFourth:hover {
		border-color: orange;
	}
}

.serviceListItem {
	list-style-type: none;
}
.missionTitle {
	color: whitesmoke;
}

.titleMainContainer {
	color: #fff;
	display: flex;

	.titleContainer {
		display: flex;

		.title {
		}
		.titleLine {
			border: 1px solid #fff;
		}
	}
}

.pageNumber {
	color: orange;
}

.missionCTA {
	color: whitesmoke;
}
.paragraphMission {
	color: whitesmoke;
}

.lineBreak {
	border: 0.1px solid #fff; /* Change the color to your preference */
	margin: 20px 0; /* Adjust the margin to your preference */
	padding-right: 50rem;
}

@media only screen and (min-width: 320px) {
	.servicesSection {
		padding: 3rem 1rem 0rem 1rem;
	}
	.missionTitle {
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0;
		font-size: 14px;
		line-height: 1.7;
	}
	.missionCTA {
		font-family: "Newslab", serif;
		color: #b1b1b1;
		font-weight: 100;
		line-height: 1.2;
		letter-spacing: -0.03em;
		font-size: 27.47314px;
	}
	.paragraphMission {
		margin-top: 1rem;
		font-family: "Sailec", Helvetica, sans-serif;
		font-size: inherit;
		font-weight: 300;
		line-height: 1.2;
	}
	.titleMainContainer {
		text-transform: uppercase;
		margin: 4rem 1rem 4rem 1rem;
		font-weight: 900;
		flex-direction: column;

		.pageNumber {
			font-size: 1.2rem;
			font-style: italic;
		}
		.titleContainer {
			flex-direction: column;

			.title {
				font-size: 2rem;
			}
		}
	}
	.lineBreak {
		padding: 0;
	}
	.cardBorder {
		.serviceCard {
			padding: 11% 4% 4% 4%;
			width: 100%;
			min-height: 500px;
			position: relative;
			border: 1px solid;
			border-color: grey;
			margin-bottom: 5rem;
		}
	}
}

@media only screen and (min-width: 720px) {
	.servicesSection {
		padding: 10% 20% 5% 20%;
	}
	.missonSection {
		padding: 10% 15% 10% 15%;
	}
	.paragraphMission {
		margin-top: 0;
		margin-left: 5rem;
		font-size: 1rem;
	}
	.missionTitle {
		font-size: 22px;
	}
	.missionCTA {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 1024px) {
	.paragraphMission {
		margin-left: 5rem;
		font-size: 1.2rem;
	}
	.missionTitle {
		font-size: 1rem;
	}
	.missionCTA {
		font-size: 2.4rem;
	}
	.titleMainContainer {
		margin: 8rem 3rem 4rem 3rem;
		flex-direction: row;
		justify-content: flex-end;
		.pageNumber {
			font-size: 2.5rem;
			margin-right: 4rem;
		}
		.titleContainer {
			flex-direction: column;

			.title {
				font-size: 4rem;
			}
			.titleLine {
				width: 100%;
				padding-right: 10rem;
			}
		}
	}
	.lineBreak {
		margin: 20px 0;
		padding-right: 50rem;
	}
}

@media only screen and (min-width: 1090px) {
	.serviceCard {
		min-width: 200px;
		position: relative;
		border: 1px solid;
		border-color: grey;
		margin-bottom: 4rem;
		font-size: 0.7rem;
		height: 200px;
	}
}
@media only screen and (min-width: 1536px) {
	.cardBorder {
		.serviceCard {
			width: 100%;
			min-height: 400px;
			position: relative;
			border: 1px solid;
			border-color: grey;
			margin-bottom: 3.9rem;
		}
	}
}

@keyframes fade-in {
	from {
		transform: scaleX(0);
		transform-origin: bottom right;
	}
	to {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}
