.wrapper {
	display: flex;
	flex-direction: column;

	color: #efff;
	padding: 4rem 0;
	background-color: #17212d;

	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 18px;
	}

	.consultation {
		h4 {
			font-size: 1rem;
		}

		p {
			font-size: 14px;
		}
		a {
			font-family: "Noto Sans Georgian";
			cursor: pointer;
			font-size: 14px;
			color: #e8985c;
		}
		margin-bottom: 2rem;
	}
	.container {
		width: 100%;
		margin: 0 auto;
		max-width: 1200px;
		display: grid;
		// grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}

.linksContainer {
	h4 {
		font-size: 1rem;
	}
}
#links {
	margin-bottom: 1rem;

	a {
		opacity: 0.6;
		&:hover {
			opacity: 1;
		}
	}
}

.copyrightContainer {
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
	display: flex;
	.footerCopyright {
		margin-top: 3rem;
		align-self: flex-start;
		font-size: 12px;
	}
}

.location {
	margin-top: 1rem;
	.locationGroup {
		display: flex;
		margin-bottom: 0.4rem;
	}
	.locationText {
		align-items: center;
		opacity: 0.6;
		margin-left: 1rem;
	}
}

.location2 {
	margin-top: 1rem;
	.locationGroup {
		display: flex;
		margin-bottom: 0.4rem;
	}
	.locationText {
		align-items: center;
		opacity: 0.6;
		margin-left: 1rem;
	}
}
.linksWrapper {
	display: flex;
	flex-direction: column;

	a {
		font-family: "Noto Sans Georgian";
		font-size: 14px;
		line-height: 30px;
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: orange;
		}
	}
}
.linksWrapper2 {
	display: flex;
	flex-direction: column;

	a {
		font-family: "Noto Sans Georgian";
		font-size: 14px;
		line-height: 30px;
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			color: orange;
		}
	}
}

@media only screen and (min-width: 320px) {
	.break {
		display: block;
		border: 1px solid #efff;
	}
	.icon {
		display: block;
	}
	.container {
		padding: 0 1rem;
		grid-template-columns: 1fr;
	}
	.footerCopyright {
		margin: 0 auto;
	}
	.location {
		display: block;
	}
	.location2 {
		display: none;
	}
	.linksWrapper {
		display: flex;
	}
	.linksWrapper2 {
		display: none;
	}
	#socials {
		margin-top: 2rem;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) {
	.location {
		display: none;
	}
	.location2 {
		display: block;
	}
	.linksWrapper {
		display: none;
	}
	.linksWrapper2 {
		display: flex;
	}
	.break {
		display: none;
	}
	.icon {
		display: none;
	}
	.container {
		padding: 0 2rem;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
	.copyrightContainer {
		padding: 0 2rem;
	}
	.footerCopyright {
		margin: 0;
	}
}
