.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.headerContainer {
	margin-top: 5.5rem;
	max-width: 1200px;

	.headerIMG {
	}

	.headerDescriptionContainer {
		display: flex;
		justify-content: center;

		.innerHeaderDescriptionContainer {
			display: flex;
			justify-content: center;
			height: 5rem;
		}

		.divideColumns {
			color: #fff;
			display: flex;
			justify-content: center;
			width: 15rem;
			border-left: 1px solid #fff;
			border-right: 1px solid #fff;
		}
	}
}
