.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	p {
		font-size: 11px;
		letter-spacing: 1px;
		color: hsla(0, 0%, 100%, 0.5);
	}
}

.headerContainer {
	margin-top: 5.5rem;
	// max-width: 1200px;
	position: relative;
	z-index: 1;
	.imgWrapper {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.headerIMG {
		max-width: 100%;
		vertical-align: middle;
		display: inline-block;
	}

	.headerDescriptionContainer {
		// position: absolute;
		// z-index: 2;
		// top: 75%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;

		.innerHeaderDescriptionContainer {
			position: absolute;
			// left: 0px;
			top: auto;
			// right: 0px;
			// bottom: 0%;
			z-index: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 870px;
			margin: 0 1rem;
			width: 100%;
			height: 8rem;
			background-color: #1e2a35;
			box-shadow: 0 6px 18px 0 rgb(0 0 0 / 20%);
		}
		.divideColumns:nth-child(2) {
			border-left: 1px solid hsla(0, 0%, 100%, 0.5);
			border-right: 1px solid hsla(0, 0%, 100%, 0.5);
		}
		.divideColumns {
			color: #fff;
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: center;
			width: 100%;
			height: 5.5rem;

			.colTitle {
				margin-top: 1rem;
				width: 100%;
				p {
					text-align: center;
				}
			}

			.catGroup {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
		}
	}
}

.catBorder {
	display: flex;
	border: 1px solid hsla(0, 0%, 100%, 0.5);
	padding: 2px 6px;
	margin: 0 5px;
	p {
		text-transform: uppercase;
		margin: 0 auto;
	}
}

.caseTitleContainer {
	color: #fff;
	margin: 4rem 0;
	margin-top: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
	}
	.line {
		border: 1px solid orange;
		width: 6rem;
	}
}

.overviewContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	margin-bottom: 5rem;
	.innerOverview {
		max-width: 870px;
		width: 100%;
	}
	p {
		font-size: 16px;
		line-height: 32px;
	}
	h2 {
		color: #fff;
	}

	.overviewIMGContainer {
		margin-top: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 1000px;
		height: 600px;

		.overviewIMG {
			width: 100%;
			height: 100%;
			margin: 0 auto;
		}
	}
}

@media screen and (max-width: 767px) {
}
