.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.headerContainer {
	margin-top: 5.5rem;
	max-width: 1200px;
	position: relative;
	z-index: 1;
	.headerIMG {
	}

	.headerDescriptionContainer {
		// position: absolute;
		// z-index: 2;
		// top: 75%;
		// left: 50%;
		// transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;

		.innerHeaderDescriptionContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 870px;
			margin: 0 1rem;
			width: 100%;
			height: 8rem;
			background-color: #1e2a35;
			box-shadow: 0 6px 18px 0 rgb(0 0 0 / 20%);
		}

		.divideColumns {
			color: #fff;
			display: flex;
			flex-direction: column;
			// justify-content: center;
			align-items: center;
			width: 100%;
			height: 7rem;
			border: 1px solid #fff;

			.colTitle {
				margin-top: 15px;
				width: 100%;
				p {
					opacity: 0.7;
					text-align: center;
				}
			}
			p {
				font-size: 14px;
			}
			.catGroup {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}
		}
	}
}

.catBorder {
	display: flex;
	border: 1px solid #fff;
	padding: 2px 6px;
	margin: 0 5px;
	p {
		font-size: 14px;
		margin: 0 auto;
	}
}

.caseTitleContainer {
	color: #fff;
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		margin-top: 1rem;
	}
	.line {
		border: 1px solid orange;
		width: 6rem;
	}
}

@media screen and (max-width: 767px) {
}
