.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.scrollNavigation {
	list-style: none;
	position: fixed;
	top: 55%;
	left: 95%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.techMarq {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	// margin-top: auto;
	padding: 0 0 1rem 0;
	// z-index: 1;
}
.buttonGroup {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	top: 4rem;
	gap: 15px;
	.button {
		border: none;
		background-color: #fff;
		height: 50px;
		width: 140px;
		border-radius: 5px;
		font-weight: 600;
	}
}

.container {
	height: 100%;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.textContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
		text-transform: uppercase;
		.topText {
			font-size: 10rem;
			display: flex;
			gap: 10px;
		}
	}
	.cube {
		align-self: center;
		margin-right: 5rem;
		margin-top: 4rem;
		scale: 0.3;
	}
}
.mainContainer {
}

.cubeIMG {
	margin-top: 2rem;
	align-self: center;
}

.text {
	font-size: 30px;
	line-height: 3rem;
}

// @media only screen and (min-width: 320px) {
// 	.header {
// 		padding: 0 1rem;
// 	}
// 	.container {
// 		flex-direction: column;
// 	}
// 	.text {
// 		font-size: 2rem;
// 		line-height: 2rem;
// 	}
// 	.cube {
// 		transform: scale(0.2);
// 	}
// }

// /* Extra Small Devices, Phones */
// @media only screen and (min-width: 480px) {
// }

// /* Medium Devices, Desktops */
// @media only screen and (min-width: 700px) {
// 	.cube {
// 		transform: scale(0.5);
// 	}
// 	.text {
// 		font-size: calc(40px + 80*(100vw - 320px)/1600);
// 		line-height: calc(40px + 80*(100vw - 320px)/1600);
// 	}
// }

// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1024px) {
// 	.cube {
// 		transform: scale(0.8);
// 	}
// 	.header {
// 		padding: 0 3rem;
// 	}
// 	.text {
// 		font-size: calc(50px + 80*(100vw - 320px)/1600);
// 		line-height: calc(50px + 80*(100vw - 320px)/1600);
// 	}
// }

// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1600px) {
// 	.cube {
// 		transform: scale(1);
// 	}
// }
