.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: clamp(50vh, 100vw, 100vh);
	// max-width: ;
}

.scrollNavigation {
	list-style: none;
	position: fixed;
	top: 55%;
	left: 95%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.techMarq {
	border-top: 1px solid #fff;
	// border-bottom: 1px solid #fff;
	overflow: hidden;
	margin-top: auto;
	padding: 1rem 0 3.5em 0;
	// z-index: 1;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	flex-direction: row;
	height: clamp(50vh, 100vw, 100vh);
	// padding-top: clamp(6rem, 100vw, 0rem);

	.textContainer {
		align-self: flex-start;
		margin-top: auto;
		margin-bottom: 2rem;
		z-index: 2;
		padding-top: clamp(6rem, 100vw, 0rem);
	}
	.cube {
	}
}
.mainContainer {
	display: flex;
	align-items: center;
}

.text {
	text-transform: uppercase;
	color: #fff;
	font-style: italic;
	font-weight: 900;
}

@media only screen and (min-width: 320px) {
	.header {
		padding: 0 1rem;
	}
	.container {
		flex-direction: column;
	}
	.text {
		font-size: 2rem;
		line-height: 2rem;
	}
	.cube {
		transform: scale(0.2);
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 700px) {
	.cube {
		transform: scale(0.5);
	}
	.text {
		font-size: calc(40px + 80*(100vw - 320px)/1600);
		line-height: calc(40px + 80*(100vw - 320px)/1600);
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1024px) {
	.cube {
		transform: scale(0.8);
	}
	.header {
		padding: 0 3rem;
	}
	.text {
		font-size: calc(50px + 80*(100vw - 320px)/1600);
		line-height: calc(50px + 80*(100vw - 320px)/1600);
	}
}

// /* Large Devices, Wide Screens */
// @media only screen and (min-width: 1600px) {
// 	.cube {
// 		transform: scale(1);
// 	}
// }
