.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.scrollNavigation {
	list-style: none;
	position: fixed;
	top: 55%;
	left: 95%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.techMarq {
	// border-top: 1px solid #fff;
	// border-bottom: 1px solid #fff;
	// overflow: hidden;
	// padding: 0 0 1rem 0;
	// z-index: 1;
}
.buttonGroup {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	top: 4rem;
	// gap: 15px;
	.button {
		font-weight: 600;
		border: none;
		background-color: #fff;
		outline: none;
		height: 50px;
		width: 140px;
		border-radius: 5px;
		font-weight: 600;
		color: black;
		&:hover {
			background-color: #e8985c;
		}
	}
	#buttonContact {
		margin-right: 15px;
	}
}

.container {
	height: 100%;
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.textContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: #fff;
		text-transform: uppercase;
		.topText {
			font-size: 10rem;
			display: flex;
			gap: 10px;
		}
	}
	.cube {
		align-self: center;
		margin-right: 5rem;
		margin-top: 4rem;
		scale: 0.3;
	}
}
.mainContainer {
}

.cubeIMG {
	margin-top: 2rem;
	align-self: center;
}

.cubeSize {
	width: 100px;
}

.text {
	font-weight: 900;
	font-style: normal;
	margin-bottom: 1rem;
	letter-spacing: 2px;
	font-size: clamp(30px, 4vw, 72px);
	line-height: clamp(38px, 4vw, 77px);
}
