.container {
	color: white;
	// border: 1px solid green;
}

.teamContainer {
	padding: 0 1rem;
	width: 90%;
	margin: 8rem auto;
	max-width: 1300px;
}

.cta {
	color: #fff;
	line-height: 2.3rem;
	font-size: 1rem;
}
.teamText {
	margin-bottom: 10rem;
	max-width: 600px;
}
.teamTitle {
	color: orange;
	// font-size: 1.2rem;
	margin-bottom: 1rem;
}
.carousel {
	display: flex;
	cursor: grab;
	overflow: hidden;
}
.innerCarousel {
	display: flex;
}
.item {
	filter: grayscale(80%);
	// min-height: 40rem;
	min-width: 40rem;
	margin-right: -10rem;

	&:hover {
		animation: grayscale-to-color 1s ease-in-out forwards;
	}
}
.item img {
	width: 60%;
	border-radius: 2rem;
	pointer-events: none;
	display: block;
}

.imageText {
	margin-top: 2rem;
	margin-right: 16rem;
	text-align: center;
}

.imagep {
	font-size: 14px;
}

@keyframes grayscale-to-color {
	0% {
		filter: grayscale(80%);
	}
	100% {
		filter: grayscale(0%);
	}
}
