.mainContainer {
	background: #171717;
	// border-bottom: 1px solid #fff;
	color: white;
	padding: 4rem 0 4rem 0;
	display: flex;

	p {
		font-weight: 600px;
	}
}

.container {
	display: grid;
	// border: 1px solid green;
	overflow-x: hidden;
	width: 100%;
	max-width: 1200px;
	align-self: center;
	margin: 6rem auto;
	h1 {
		font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
		font-size: 30px;
	}
	h3 {
		color: orange;
		line-height: 2rem;
		font-size: 24px;
	}
}

.cta {
	padding: 0 1rem;
	max-width: 600px;
	// margin: 0 auto;
}

.pillerContainer {
	display: grid;
	// max-width: 820px;
	gap: 3rem;
}

.break {
	border-top: 1px solid orange;
	width: 50px;
	float: left;
}

.paragraph {
	opacity: 0.8;
	line-height: 2.2rem;
	padding-bottom: 1rem;
}

.link {
	text-decoration: none !important;
	border: none;
	display: flex;
	p {
		padding-left: 1rem;
	}
}

.softwareGroup {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-top: 10rem;
	gap: 20px;
	padding: 0 1rem;

	p {
		opacity: 0.8;
		line-height: 2.2rem;
		font-weight: 500;
	}
	.catDescription {
		max-width: 500px;
	}
	.button {
		margin-top: 1rem;
		border: none;
		background-color: #fff;
		outline: none;
		height: 30px;
		width: 7rem;
		font-size: 14px;
		font-weight: 600;
		&:hover {
			background-color: orange;
		}
	}
	.cardIMG {
		order: -1;
		// border-top-right-radius: 10px;
		// border-bottom-left-radius: 10px;
		filter: grayscale(1);
		margin-left: auto;
		width: 100%;
		max-width: 500px;
		margin-bottom: 1rem;
	}
}

.uxGroup {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-top: 10rem;
	gap: 20px;
	padding: 0 1rem;
	p {
		opacity: 0.8;
		line-height: 2.2rem;
		font-weight: 500;
		font-style: regular;
	}
	.catDescription {
		margin-left: auto;
		max-width: 500px;
	}
	.button {
		margin-top: 1rem;
		border: none;
		background-color: #fff;
		outline: none;
		height: 30px;
		width: 7rem;
		font-size: 14px;
		font-weight: 600;
		&:hover {
			background-color: orange;
		}
	}

	.cardIMG {
		filter: grayscale(1);
		// border-top-left-radius: 10px;
		// border-bottom-right-radius: 10px;
		margin-bottom: 1rem;
		width: 100%;
		max-width: 500px;
	}
}

// @media only screen and (min-width: 725px) {
// 	.softwareGroup {
// 		.cardIMG {
// 			order: 1;
// 		}
// 	}
// }

@media only screen and (min-width: 320px) {
	.softwareGroup {
		padding: 0 1rem;
	}
	.cta {
		padding: 0 1rem;
	}
	.uxGroup {
		padding: 0 1rem;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) {
	.softwareGroup {
		padding: 0 2rem;
		.cardIMG {
			order: 1;
		}
	}
	.cta {
		padding: 0 2rem;
	}

	.uxGroup {
		padding: 0 2rem;
	}
}

// @media only screen and (min-width: 978px) {
// 	.container {
// 		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
// 	}
// 	.pillerContainer {
// 		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
// 	}
// }

// @media only screen and (min-width: 1200px) {
// 	.container {
// 		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
// 	}
// 	.pillerContainer {
// 		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
// 	}
// }

@keyframes slide-in-left {
	from {
		left: -100%;
	}
	to {
		left: 0;
	}
}

@keyframes slide-in-right {
	from {
		left: 100%;
	}
	to {
		left: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
