.mainContainer {
	padding-top: 4rem;
	padding-bottom: 10rem;
	// border: 1px solid green;
}
.innerContainer {
	padding: 4rem 1rem;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.cardContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
}

.clientTitle {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 1rem;
}

.textContainer {
	max-width: 600px;
	margin-bottom: 4rem;
}

.textContaine > * {
	color: #fff;
}

.cta {
	font-family: "Newslab", serif;
	color: #fff;
	// font-size: 20px;
	opacity: 0.8;
	line-height: 2.2rem;
	font-weight: 500;
}

.titleSection {
	color: #b1b1b1;
	font-size: 1rem;
	line-height: 2.3rem;
}

//carousel
.carousel {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 300px;
	margin: 0 auto;
	// max-width: 400px;

	.left {
		color: #eff;
		cursor: pointer;
		margin-right: auto;
		align-self: center;
		&:hover {
			color: orange;
		}
	}
	.right {
		color: #eff;
		cursor: pointer;
		margin-left: auto;
		align-self: center;
		&:hover {
			color: orange;
		}
	}
}
.iconContainer {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	.logoIMG {
		margin-top: auto;
		align-self: center;

		max-width: 200px;
		filter: invert(82%) sepia(95%) saturate(0%) hue-rotate(87deg) brightness(115%) contrast(104%);
	}
}

#gc {
	max-width: 100px;
}

@media only screen and (min-width: 320px) {
	.innerContainer {
		padding: 4rem 1rem;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) {
	.innerContainer {
		padding: 4rem 2rem;
	}
}
