.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 100%;
	background-color: #1e2a35;
	box-shadow: 0 6px 18px 0 rgb(0 0 0 / 20%);
	margin: 0;
	h1 {
		color: #fff;
		font-weight: 500;
		font-size: 1.5rem;
	}
	img {
		max-width: 200px;
		filter: invert(82%) sepia(95%) saturate(0%) hue-rotate(87deg) brightness(115%) contrast(104%);
	}
}

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 720px) {
}

@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1536px) {
}

@media only screen and (min-width: 2024px) {
}
