.imageStyling{
  width: 1440px;
  height: 60vh;
  position: relative;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: white;
  }
  img{
    width: 1440px;
    position: absolute;
  }
}