.container {
	max-width: 300px;
	width: 100%;
	cursor: pointer;

	.infoContainer {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;

		.author {
			font-size: 14px;
		}
		.description {
			font-size: 16px;
			opacity: 0.6;
		}
	}

	.tagWrapper {
		margin-top: 1rem;
		display: flex;
		gap: 10px;
		.tagContainer {
			display: inline-block;
			border-radius: 5px;
			border: 1px solid black;
			.tagName {
				font-size: 14px;
				margin: 0 5px;
			}
		}
	}
}
