.wrapper {
	display: flex;
	justify-content: center;
	margin-top: 10rem;
	max-width: 1200px;

	.container {
		// max-width: 1200px;
		width: 100%;
		// margin: 0 2rem;
		img {
			width: 1200px;
			height: 500px;
		}
	}
}
