.container {
	display: flex;
	flex-direction: row;
	margin-right: 1rem;
	margin-bottom: 7em;
	list-style: none;
	text-decoration: none;

	justify-content: flex-end;
	&:hover {
		text-decoration: none;
	}
}

.title {
	align-self: center;
	margin: 0;
	font-size: 1rem;
}

.dots {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin: 0 10px;
	background-color: #ffb26b;
}

.dots:hover {
	background-color: orange;
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 800px) {
	.container {
		display: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 820px) {
	.container {
		display: flex;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1024px) {
}
