.container {
	width: 1280px;
	min-width: 1280px;
	margin: 0 auto;

	.hamburger-menu {
		display: none;
		z-index: 9;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		position: fixed;
		height: 100%;
		width: 100%;
		.menu-secondary-background-color {
			z-index: -1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			position: fixed;
			height: 100%;
			width: 100%;
			background-color: peach;
		}
		.menu-layer {
			position: relative;
			background: black;
			height: 100%;
			overflow: hidden;
			.menu-city-background {
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				height: 100%;
				width: 100%;
				opacity: 0;
			}
			.wrapper {
				position: relative;
				.menu-links {
					display: flex;
					justify-content: space-between;
					align-items: center;
					position: relative;
					top: 200px;
					nav {
						display: block;
						ul {
							padding: 0;
							margin: 0;
							li {
								list-style: none;
								font-size: 6rem;
								font-weight: 700;
								height: 135px;
								overflow: hidden;
								position: relative;
								width: 700px;
								a {
									font-size: 6rem;
									position: absolute;
									color: white;
									text-decoration: none;
									&:hover {
										color: purple;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
