.mainWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	//background-color: whitesmoke;

	a {
		color: black;
		text-decoration: none;
	}
}

.wrapper {
	margin: 0 2rem;
	padding-top: 10rem;
	padding-bottom: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.cardWrapper {
		margin-top: 4rem;
		max-width: 1000px;
		width: 100%;
	}
	.cardContainer {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		// gap: 30px;
	}

	.cardContainer .gridItem:first-child {
		margin-right: auto;
	}
	.cardContainer .gridItem:nth-last-child(2) {
		margin-right: 0;
	}
	.cardContainer .gridItem:last-child {
		margin-left: auto;
	}

	.cardContainer .gridItem{
		background-color: white;
		padding: 1rem;
		border-radius: 1%;
	}


	.pageContainer {
		margin-top: 6rem;
		max-width: 1000px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;

		.leftArrow {
			display: flex;
			color: white;

			margin-right: auto;
			.icon {
			}
			p {
				padding-left: 10px;
				margin: auto 0;
			}
		}
		.rightArrow {
			display: flex;
			margin-left: auto;
			color: white;

			.icon {
			}
			p {
				margin: auto 0;
				padding-right: 10px;
			}
		}
	}
}

@media (max-width: 500px) {
	.wrapper {
		.cardContainer {
			flex-direction: column;
		}
		.cardContainer .gridItem:first-child {
			margin-right: 0;
			margin-bottom: 2rem;
		}
		.cardContainer .gridItem:nth-child(2) {
			margin-right: 0;
			margin-bottom: 2rem;
		}

		.cardContainer .gridItem:last-child {
			margin-left: 0;
			margin-bottom: 2rem;
		}

		.pageContainer {
			.leftArrow {
				p {
					display: none;
					padding-left: 10px;
					margin: auto 0;
				}
			}
			.rightArrow {
				p {
					display: none;
					margin: auto 0;
					padding-right: 10px;
				}
			}
		}
	}
}
