.mainWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #efff;
	padding: 0 1rem;
}

.wrapper {
	margin: 0 2rem;
	padding-bottom: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.cardWrapper {
		margin-top: 4rem;
		max-width: 1200px;
		width: 100%;
	}
	.cardContainer {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 30px;
	}

	.cardContainer .gridItem:first-child {
		margin-right: auto;
	}

	.cardContainer .gridItem:last-child {
		margin-left: auto;
	}
}
